/* ===== 리스트 전용 레이아웃 (배너, 섹션 제목, 슬라이더) ===== */

.slider-section {
    margin-bottom: 40px;
}

.swiper-button-prev,
.swiper-button-next {
    color: #f0e273;
    font-size: 20px;      /* 화살표 크기 */
    font-weight: bold;
    z-index: 10;
    pointer-events: auto;
}

.product-swiper {
    padding-bottom: 40px !important; /* 하단 공간 확보 */
}

.product-swiper .swiper-pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

/* 기본 점 스타일 */
.product-swiper .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background-color: #ccc;
    opacity: 1;
    border-radius: 50%;
    margin: 0 4px;
    transition: all 0.3s ease;
}

/* 현재 활성된 점 스타일 */
.product-swiper .swiper-pagination-bullet-active {
    width: 24px;
    height: 6px;
    background-color: #000;
    border-radius: 4px;
}

.product-swiper {
    padding-bottom: 48px;
}

.swiper-button-disabled {
    opacity: 0.3;
    pointer-events: none;
    cursor: default;
}

.textMain {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* ===== 배너 ===== */
.banner-slider {
    width: 1155px;
    height: 300px;
    margin: 0 auto 30px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    justify-content: center;

}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
